.container {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--theme-bgColor);
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    position: relative
}
.header {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--theme-color);
    gap: 1rem;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: flex-start;
}
#groupIcon {
    width: 3.5rem;
    height: 3.5rem;
    color: white;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-content: center;
    border-radius: 100%;
}
#groupName {
    font-weight: 500;
    font-size: 2rem;
    color: rgba(255, 255, 255, 1);
}
.newNote {
    display: flex;
    width: 100%;
    height: 20%;
    z-index:1;
    align-self: flex-end;
}
#textArea {
    padding: 1rem;
    width: 100%;
    border-color: var(--theme-color);
    border-width: 0.5rem;
    border-radius: 6px;
    resize: none;
}
#textArea::placeholder {
    color: rgba(154, 154, 154, 1);
}
#sendBtn {
    z-index: 2;
    width: 1rem;
    height: 1rem;
    margin: 1rem;
    position: fixed;
    bottom: 2rem;
    right: 0.5rem;
    cursor: pointer;
}
#backImg {
    width: 1.5rem;
    height: 1.5rem;
}
.oldNotes {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    color: rgba(0, 0, 0, 1);
}
#notes {
    display: flex;
    align-self: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    margin: 1rem 0.5rem 1rem 1rem;
    padding: 1rem;
    border-radius: 5px;
}
#dateTime{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    align-self: flex-end;
}
#dateTime span{
    background-color: rgba(53, 53, 53, 1);
    border-radius: 50%;
    height: 0.4rem;
    width: 0.4rem;
    margin: 0 0.5rem;
    align-self: center;
}
::-webkit-scrollbar {
    background-color: rgba(217, 217, 217, 1);
    border-radius: 5.5px;
    width: 1rem;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4.5px;
}